

body,html{
    background-color: #00010D;
    margin: 0px;
    padding: 0px;
    
}

button{
    background-color: #3F3E45;
    border-radius: 10px;
}

#botao-curriculo{
    height: 70px;
    width: 100px;

    position:absolute;
    margin-left:700px;
    margin-top: 50px;
    background-color: #62606B;
    border-radius: 10px;;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border: 1px solid black;

}
#botao-contato{
    height: 70px;
    width: 100px;
    background-color: #62606B;
    border-radius: 10px;;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border: 1px solid black;

    position:absolute;
    margin-left:900px;
    margin-top: 50px;
}

#curriculo-texto{
    height: 300px;
    width: 500px;
    background-color: #62606B;
    border-radius: 10px;
    position:absolute;
    margin-left: 600px;
    margin-top: 200px;

    
}
#curriculo-texto h2{
    margin-left: 10px;
    font-size: 25px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#curriculo-texto li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

#contato-texto{
    height: 300px;
    width: 500px;
    background-color: #74888C;
    border-radius: 10px;
    position:absolute;
    margin-left: 600px;
    margin-top: 200px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
#contato-texto label {
    margin-top: 20px;
    margin-left: 10px;

    display: inline-block;
    width: 200px;
    height: 30px;
    color: black;
    text-decoration:none;
}
#contato-texto a {
    color: black;
    text-decoration:none;
}



#botao-portifolio{
    height: 100px;
    width: 200px;

    position:absolute;
    margin-left:1150px;
    margin-top: 250px;
}



#profile-pic{
    border: 2px solid #575859;
    position:absolute;
    height: 300px;
    width: 300px;
    margin-left: 100px;
    margin-top: 30px;
    border-radius: 20px;


    background-image: url(../img/perfil.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

#profile-title{
    
    background-color: #62606B;
    border-radius: 10px;;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    position:absolute;
    height: 180px;
    width: 400px;
    margin-top: 400px;
    margin-left: 50px;
}
#profile-title h1,h2{
    
    text-align: center;
}

#botao-jogos{
    
    height: 100px;
    width: 100px;
    background-color: red;

    position: absolute;
    margin-left: 350px;
    margin-top: 100px;
}
#titulo-jogos{
    position: absolute;
    width: 100px;
    margin-left: 350px;
    margin-top: 70px;

}


#botao-web{
    
    height: 100px;
    width: 100px;
    background-color: blue;

    position: absolute;
    margin-left: 650px;
    margin-top: 100px;
}
#titulo-web{
    position: absolute;
    width: 100px;
    margin-left: 650px;
    margin-top: 70px;

}

#botao-desktop{
    
    height: 100px;
    width: 100px;
    background-color: gray;

    position: absolute;
    margin-left: 950px;
    margin-top: 100px;
    text-align: center;
}
#titulo-desktop{
    position: absolute;
    width: 100px;
    margin-left: 943px;
    margin-top: 70px;

}


#div-jogos{
    
    height: 300px;
    width: 700px;
    background-color: yellow;

    position: absolute;
    margin-left: 350px;
    margin-top: 250px;

}
#div-web{
    
    height: 300px;
    width: 700px;
    background-color: pink;

    position: absolute;
    margin-left: 350px;
    margin-top: 250px;

}
#div-desktop{
    
    height: 300px;
    width: 700px;
    background-color: orange;

    position: absolute;
    margin-left: 350px;
    margin-top: 250px;

}


#botao-home{
    
    height: 100px;
    width: 200px;

    position:absolute;
    margin-left:50px;
    margin-top: 250px;
}
#titulo-home{
    position: absolute;
    width: 200px;
    margin-left: 50px;
    margin-top: 200px;

}




.item{
    height: 286px;
    width: 220px;
    border: black solid 4px;
    border-radius: 20px;
    margin-top: 2px;
    margin-left: 2px;
}





.capa{
    border-radius: 10px;
    background-color: #918F9E;
    width:1400px;
    height:600px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-300px;
    margin-left:-700px; /* Valor da Largura */
}
.capa div{
    display: inline-block;
}







.navigation{
    
    height: 50px;;
}

.navigation ul{
    margin-top: 0;
    padding-left: 0;
    text-align: right;
    height: 50px;
    
}
.navigation li{
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
}

  